<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Beat The AI Game</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Beat The AI Game</a>
            </div>
          </div>
        </nav>

        <div class="container">

            <div class="row">
            You are the Human. You are talking to the AI. Your goal is to make the AI output the following phrase: '{{phrase_ai}}' and avoid entering the following phrase into the chat: '{{phrase_human}}'
            If you enter this phrase, you lose the game and the AI wins.
            Apart from this phrase, you may enter anything at all into the message box.
            Below you can see the system message sent to the AI to set the context for the conversation.
            </div>

            {% for message in messages %}
                <div class="row">
                    <h3>{{ message.role }}:</h3>
                    <p>{{ message.content }}</p>
                </div>
            {% endfor %}

            <div class="row">
                <form action="." method="POST">
                    <textarea class="form-control" name="contents" placeholder="Enter a message"></textarea>
                    <input name="submit" type="submit" class="btn btn-success" value="Post message" {% if game_over %}disabled{% endif %}>
                    <input name="reset" type="submit" class="btn btn-success" value="Reset">
                </form>
            </div>

        </div>
        <!---
        <div class="container">
            <h3>Raw message object for debugging:</h3>
            {{ messages }}
        </div>
        --->
    </body>
</html>